.external_container{
  max-width: 100%;
  margin: 2px;
  overflow: hidden; /* Evita il overflow che potrebbe causare la barra di scorrimento */
  height: 98vh; /* Altezza pari all'altezza della finestra del browser */
  box-sizing: border-box; /* Assicura che il padding e il bordo non aumentino la dimensione del contenitore */
  padding: 0.5%;
}

.Grid{
  height: 350px;

}



h2 {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  color:white
}

.Item{
  height: calc(98vh / 2 - 2%) ;
}

.Item2{
  height: calc(98vh / 2 - 2%);
}


